html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#canvas {
  background: #fcd6a4;
}

.ol-popup {
  #popup-content > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a {
    text-decoration: none;
  }

  img {
    padding: 1px;
  }

  .name {
    font-weight: bold;
    text-align: center;
    font-family: Gilbert-Color, sans-serif;
    font-size: 170%;
  }

  .star {
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
  }

  hr {
    padding: 0;
    border: none;
    height: 1px;
    background: lightgray;
  }
}

.ol-popup {
  position: absolute;
  bottom: 12px;
  left: -50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 6px;
  right: 6px;
}

.ol-popup-closer:after {
  content: "✖";
}


p {
  margin-top: 0;
  margin-bottom: .5rem;
}

.ol-control.info-button {
  bottom: .5rem;
  left: .5rem;

  a {
    display: block;
    margin: 1px;
    padding: 0;
    color: var(--ol-subtle-foreground-color);
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    //line-height: .4em;
    background-color: var(--ol-background-color);
    border: none;
    border-radius: 2px;

    &:hover, &:focus {
      text-decoration: none;
      outline: 1px solid var(--ol-subtle-foreground-color);
      color: var(--ol-foreground-color);
    }
  }
}

.ol-touch .ol-control.info-button a {
  font-size: 1.5em;
}
.ol-control {
  &.ortho-button, &.basemap-button {
    bottom: .5rem;
  }
}
.ol-control.ortho-button {
  left: 1.875rem+0.5rem;

}

.ol-control.basemap-button {
  left: 1.875rem*2+0.5rem;
}


#overlay {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;


  .content {
    padding: 1rem;
    max-width: 600px;
    pointer-events: all;
    z-index: 100;
    //border-width: 3px;
    //border-style: solid;
    //border-color: #e40303;
    h1 {
      margin-top: 0;
    }

    a {
      color: green;

      text-decoration: none;

    }

  }
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: Gilbert-Color, sans-serif;

}

dl {
  font-weight: bold;
}

.box {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: 1px solid #cccccc;
}


svg.ct-chart-bar, svg.ct-chart-line {
  overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-70%) rotate(-45deg);
  white-space: nowrap;
}
